<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>
        {{ title }}
    </title>
</head>
<body>

{% block content %}

<p class="container-fluid">
    <h1>Задание</h1>
    Создать форму для регистрации пользователей на сайте.<br> 
    Форма должна содержать поля "Имя", "Фамилия", "Email", "Пароль" <br>
    и кнопку "Зарегистрироваться".<br> 
    При отправке формы данные должны сохраняться в базе данных,<br> 
    а пароль должен быть зашифрован.<br>
    <br>
    <a href="/register">Начать</a><br>
</p>
{% endblock %}

</body>
</html>